<html>

<head>
    <title>anon-discourse</title>
</head>

<body>
    <div id="content">
        <div id="message_container">
            <div id="message_list"></div>
        </div>
        <input id="message_entry" type="text"></input>
    </div>

    <link rel="stylesheet" type="text/css" href="./static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <script type="application/javascript">
        const channel = '{{ channel }}'
    </script>

    <script src="./static/js/script.js"></script>
</body>

</html>