<html>
    <head>
        <title>anon-discourse</title>
    </head>
    <body> 
        <div>
            welcome!!
        </div>

        <form action="#">
            ask a question here:
            
            <input id="question" type="text"></input>
            <input id="submit" type="submit"></input>
        </form>

        <div id="asked_questions">
            
        </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            const myId = crypto.randomUUID()

            const elem = (id) => document.getElementById(id)
            

            var socket = io();
            socket.on('connect', () => {
                console.log('connected!');
            });

            socket.on('ask_question', (data) => {
                console.log('received question: ' + JSON.stringify(data));
                var newelem = document.createElement('p')
                newelem.innerText = data.question
                elem('asked_questions').append(newelem)
            })

            elem('submit').onclick = () => {
                const question = elem('question')
                socket.emit('raise_question', {
                        id:myId, 
                        question:question.value
                })
                question.value = ''
            }
        </script>
    </body>
</html>

